# OS
.DS_Store

# Dependencies
node_modules/
vendor/

# Logs and cache
application/logs/*
!application/logs/index.html
application/cache/*
!application/cache/index.html

# Local env
.env
.env.*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Package manager logs
npm-debug.log*
yarn-error.log*
